@import "../../../stylesheet/colors.scss";

.loading-products {
  background-color: $white;
  padding: 16px !important;
  height: 100%;
  border-radius: 4px;
  margin-bottom: 110px;
  max-width: 1000px;

}
